[submodule "application-images"]
	path = application-images
	url = https://github.com/srfrnk/application-images.git
[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/srfrnk/kubernetes.git
